/* Base Styles */
* {
  border-color: rgba(26, 26, 26, 0.1);
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  background-color: #FFF8F2;
  color: #1A1A1A;
  font-family: 'Plus Jakarta Sans', sans-serif;
}

/* Typography */
h1, h2, h3 {
  font-family: 'Playfair Display', serif;
}

h1 {
  font-weight: 700;
  line-height: 1.2;
}

h2 {
  font-weight: 700;
  line-height: 1.3;
}

h3 {
  font-weight: 600;
  line-height: 1.4;
}

h4 {
  font-weight: 500;
  line-height: 1.5;
}

label, button {
  font-weight: 500;
  line-height: 1.5;
}

input {
  font-weight: 400;
  line-height: 1.5;
}
